{% extends "layout.html" %}

{% block content %}

<div class="container">
    <br />
    <p>
    College students face many challenges these days, what with the rising cost of tuition and the 
    grim job market. Added on to that is the outrageous price of textbooks. Then, when you try to sell 
    them back at the end of the semester, everyone wants to pay you less than half of what you spent,
    only to resell them at another outrageous price. Wouldn't it be nice if you could sell your textbooks 
    directly to another student, without some middle-man trying to swindle you both? Well now you can! 
    With BuyMyBooks, you can list your used books for other students to purchase. You set your price 
    (just be reasonable). In this way, you can get back more of what you paid for them, and other students 
    can still get them for cheaper than from their campus bookstore or another online merchant. 
    </p>
    <br />
    <p>
    Now you may be thinking to yourself "this sounds too good to be true. What's in it for them?"
    The answer is ad revenue. BuyMyBooks will <em>never</em> take any cut of your sales. Instead, 
    we make our money by selling ad space to other companies. While this may sound annoying, we make 
    it a priority to ensure that our advertising doesn't get in the way of a good user experience.
    You won't see pop-ups, flashy banners, or auto-play videos here. At BuyMyBooks, we like to keep it 
    classy. 
    </p>
    <br />
    <p>
    Because we make 100% of our revenue from advertisements, we do ask that you refrain from using ad-blocking
    software while visiting our site. We'll scratch your back if you'll scratch ours. Everyone wins!
    </p>
    <br />
    <p>
    BuyMyBooks was founded in 2016 by Lisa Carter. 
    </p>
        
    <br /> <br />
</div>

{% endblock %}