{% extends "layout.html" %}

{% block content %}

<div class="container">
    <br />
{% if loggedIn==False %}
    <p>You are not logged in.</p>
        <p><a href="/login"><u>Login</u></a></p><br /><br />
    <p>Don't have an account?</p>
        <p><a href="/createaccount"><u>Create an account</u></a></p><br /><br /><br />
{% else %}
    <div class="row">
        <div class="col-md-6">
            <div class = "panel panel-default">
                <div class = "panel-heading">
                    <h3 class = "panel-title">
                    First Name
                    </h3>
                </div>
                <div class = "panel-body row">
                    <div class="col-md-10" id="displayfirstname">{{accountInfo['firstname']}}</div>   
                    <div class="col-md-10">
                        <form name="changefirstname" method="post">
                            <input type="text" id="firstname" name="firstname" value="{{accountInfo['firstname']}}" hidden>
                        </form>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-info" id="editfirstname">Edit</button>
                        <button type="button" class="btn btn-info" id="doneeditfirstname" onClick="document.forms['changefirstname'].submit();">Done</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class = "panel panel-default">
               <div class = "panel-heading">
                  <h3 class = "panel-title">
                    Last Name
                  </h3>
               </div>
                <div class = "panel-body row">
                    <div class="col-md-10" id="displaylastname">{{accountInfo['lastname']}}</div>
                    <div class="col-md-10">
                        <form name="changelastname" method="post">
                            <input type="text" id="lastname" name="lastname" value="{{accountInfo['lastname']}}" hidden>
                        </form>
                    </div>
                    <div class="col-md-1">
                        <button type="button" id="editlastname" class="btn btn-info">Edit</button>
                        <button type="button" class="btn btn-info" id="doneeditlastname" onClick="document.forms['changelastname'].submit();">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class = "panel panel-default">
                <div class = "panel-heading">
                    <h3 class = "panel-title">
                    Email
                    </h3>
                </div>
                <div class = "panel-body">
                 {{accountInfo['email']}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class = "panel panel-default">
               <div class = "panel-heading">
                  <h3 class = "panel-title">
                    School
                  </h3>
               </div>
                <div class = "panel-body row">
                    <div class="col-md-10" id="displayschool">{{accountInfo['school']}}</div>
                    <div class="col-md-10">
                        <form name="changeschool" method="post">
                            <input type="text" id="school" name="school" value="{{accountInfo['school']}}" hidden>
                        </form>
                    </div>
                    <div class="col-md-1">
                        <button type="button" id="editschool" class="btn btn-info">Edit</button>
                        <button type="button" class="btn btn-info" id="doneeditschool" onClick="document.forms['changeschool'].submit();">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class = "panel panel-default">
                <div class = "panel-heading">
                    <h3 class = "panel-title">
                    Books For Sale
                    </h3>
                </div>
                <div class = "panel-body row">
                {% if listedBooks==[] %}
                <div class="col-md-12">You have no books for sale.</div>
                 
                {% else %}
                <table class="table-bordered col-md-12">
                    {% for result in listedBooks %}
                    <tr>
                    <td class="col-md-1">{{result.isbn}}</td>
                    <td class="col-md-2">{{result.title}}</td>
                    <td class="col-md-2">{{result.author}}</td>
                    <td class="col-md-1">{{result.subject}}</td>
                    {% if result.description=="" %}
                    <td class="col-md-2">No description</td>
                    {% else %}
                    <td class="col-md-2">{{result.description}}</td>
                    {% endif %}
                    <td class="col-md-1">{{result.price}}</td>
                    <td class="col-md-3"><img class="img-thumbnail img-responsive pictureurl" src={{result.picture}} /></td>
                    <td class="col-md-1">
                        &nbsp;&nbsp;<button type="button" class="btn btn-info" onClick="">Edit</button><br /><br />
                        <button type="button" class="btn btn-info" onClick="">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-md-12">
            <div class = "panel panel-default">
                <div class = "panel-heading">
                    <h3 class = "panel-title">
                    Past Orders
                    </h3>
                </div>
                <div class = "panel-body">
                 You have no past orders.
                </div>
            </div>
        </div>
    </div>
{% endif %}
</div>

<script>
$(document).ready(function(){
    $("#doneeditfirstname").hide();
    $("#doneeditlastname").hide();
    $("#doneeditschool").hide();
    
    function resizeInput() {
        if ($(this).val().length > 60){
            $(this).attr('size', 60);
        } else {
            $(this).attr('size', $(this).val().length);
        }
    }

    $('input[type="text"]').keyup(resizeInput).each(resizeInput);
    
    $("#editfirstname").click(function(){
        $("#displayfirstname").hide();
        $("#editfirstname").hide();
        $("#firstname").show();
        $("#doneeditfirstname").show();
    });
    
    $("#doneeditfirstname").click(function(){
        $("#displayfirstname").show();
        $("#editfirstname").show();
        $("#firstname").hide();
        $("#doneeditfirstname").hide();
    });
    
     $("#editlastname").click(function(){
        $("#displaylastname").hide();
        $("#editlastname").hide();
        $("#lastname").show();
        $("#doneeditlastname").show();
    });
    
    $("#doneeditlastname").click(function(){
        $("#displaylastname").show();
        $("#editlastname").show();
        $("#lastname").hide();
        $("#doneeditlastname").hide();
    });

     $("#editschool").click(function(){
        $("#displayschool").hide();
        $("#editschool").hide();
        $("#school").show();
        $("#doneeditschool").show();
    });
    
    $("#doneeditschool").click(function(){
        $("#displayschool").show();
        $("#editschool").show();
        $("#school").hide();
        $("#doneeditschool").hide();
    });

});
</script>
{% endblock %}