{% extends "layout.html" %}

{% block content %}
 <!--start-content-->
<!--account-->
<div class="container">
    {% if passChanged == True %}
    <br /><p><font color="#1399a0">Check your email for your new password.</font></p><br /><br />
    {% else %}
        {% if passFailed == True %}
        <br /><p><font color="#1399a0">There was a problem resetting your password.</font></p><br />
        {% endif %}
        
        {% if wrongUsername == True %}
        <br /><p><font color="#1399a0">There is no account registered for that email address. Check the email address or register for an account.</font></p><br />
        {% endif %}
    <div class="row">
        <div class="col-md-1"></div>
    	<div class="col-md-8">
    	    <div class="account-top heading">
			    <br /><h3>FORGOT YOUR PASSWORD?</h3>
		    </div>
    	    <form method="post">
    	     <div class="address">
					<span>Enter your username and we will send you a new one.</span>
					<input type="text" name="email" id="email" required>
				</div>
			<div class="address">
    	  	    <input type="submit" value="Send me a new one!">
    	  	</div>
    	  	</form>
    	  	<br /><br />
    	</div>
    </div>
    {% endif %}

</div>
<!-- checkout -->

{% endblock %}