{% extends "layout.html" %}

{% block content %}
 <!--start-content-->
<!--account-->
<div class="container">
    {% if passChanged == True %}
    <br /><p><font color="#1399a0">Check your email for your new password.</font></p><br /><br />
    {% else %}
        {% if passFailed == True %}
        <br /><p><font color="#1399a0">There was a problem resetting your password.</font></p><br />
        {% endif %}
        
        {% if wrongUsername == True %}
        <br /><p><font color="#1399a0">There is no account registered for that email address. Check the email address or register for an account.</font></p><br />
        {% endif %}
    <div class="row">
        <div class="col-md-1"></div>
    	<div class="col-md-8">
    	    <div class="account-top heading">
			    <br /><h3>FORGOT YOUR PASSWORD?</h3>
		    </div>
    	    <form method="post" onsubmit="return checkEmail()">
    	     <div class="address">
					<span>Enter your username and we will send you a new one.</span>
					<input type="text" name="email" id="email" required>
				</div>
			<div class="address">
    	  	    <input type="submit" value="Send me a new one!">
    	  	</div>
    	  	</form>
    	  	<br /><br />
    	</div>
    </div>
    <div id="validationfailed" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Invalid Input</h4>
            </div>
            <div class="modal-body">
                <p id="errorinfo"></p>
    </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    {% endif %}

</div>
<!-- checkout -->
<script>
    $('#validationfailed').modal("hide");
</script>

{% endblock %}