{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
<script type="text/javascript" src="static/js/controller.js"></script>
 <!--start-content-->
	<!--products-->
	<div class="products">
		<div class="container" ng-controller="SearchController">
			<div class="col-sm-3 col-md-3 pull-right" id="searchbox">
			    	<form class="navbar-form" role="search" ng-submit="search()">
			    	<div class="input-group">
			        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="searchtext">
			        <div class="input-group-btn">
			            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
			        </div>
			    	</div>
			    	</form>
			    </div>
			<div class="products-grids">
			<div class="col-md-8 products-grid-left scroll" id="searchresultspane">
				<div class="row" ng-show="searched==false">
					<div class="col-md-2"></div>
					<div class="col-md-10"><br/>
						<p><font color="#1399a0">Type in a book title, author, or isbn and begin your search.</font></p><br /><br />
					</div>
				</div>
				<div class="row" ng-show="noresults==true">
					<div class="col-md-2"></div>
					<div class="col-md-10"><br/>
						<p><font color="#1399a0">No listings matched your query.</font></p><br /><br />
					</div>
				</div>
				<div class="alert alert-success" ng-show="itemadded">
					<a href="#" class="close" aria-label="close" ng-click="dismiss()">&times;</a>
  					The item has been added to your cart.
				</div>
				<div class="alert alert-warning" ng-show="incart">
					<a href="#" class="close" aria-label="close" ng-click="dismiss()">&times;</a>
  					That item is already in your cart.
				</div>
				<div class="alert alert-danger" ng-show="error">
					<a href="#" class="close" aria-label="close" ng-click="dismiss()">&times;</a>
  					There was an error adding the item to your cart.
				</div>
			
					<div class="" ng-repeat="result in searchresults">
							<div class = "panel panel-default">
								<div class = "panel-heading">
                    				<h3 class = "panel-title">
                    					<span ng-bind="result.title"></span>
										&nbsp;&nbsp;&nbsp;&nbsp;ISBN:
                    					<span ng-bind="result.isbn"></span>
                    				</h3>
                				</div>
                				<div class = "panel-body">
                					
									<div class="row">
										<div class="col-md-6">
											<h4>By:&nbsp; <span ng-bind="result.author"></span></h4>
											<br />
											<h4>Subject:&nbsp; <span ng-bind="result.subject"></span></h4>
											<br />
											<h4 ng-bind="result.description"></h4>
										</div>
										<div class="col-md-1"></div>
										<div class="col-md-3" ng-cloak>
											<img ng-src="{{ '{{result.pictureurl}}' }}" alt="" class="img-responsive img-thumbnail"/>
										</div>
									</div>
									<br />
									<form class="navbar-form" role="search" ng-submit="addToCart(result.id)">
									{% if loggedIn==True %}
									<p><button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-shopping-cart"></i> $<span class=" item_price valsa" ng-bind="result.price"></span></button></p>
                					{% else %}
                					<p><button class="btn btn-default" type="submit" ng-disabled="true"><i class="glyphicon glyphicon-shopping-cart"></i> $<span class=" item_price valsa" ng-bind="result.price"></span></button></p>
                					{% endif %}
                					</form>
                				</div>
            				</div>
								
				</div>
				
			</div>
				<div class="col-md-4 products-grid-right">
					<div class="w_sidebar">
						<section  class="sky-form">
							<h4>Sort By</h4>
							<div class="col col-4">
								<div class="form-group">
									<select class="form-control selectpicker" id="sort" ng-model="sortby">
									<option ng-selected="true">Price: Low to High</option>
								    <option>Price: High to Low</option>
								    <option>Newest</option>
								    <option>Alphabetical</option>
								  </select>
								</div>
								</div>
							</div>
							
						</section>
						<section  class="sky-form">
							<h4>Subjects</h4>
							<div class="row1 scroll-pane">
								<div class="col col-4">
									<label class="checkbox"><input type="checkbox" name="all" id="all" ng-checked="true" ng-model="allsub" ng-changed="toggleCheck(allsub)"><i></i>All</label>
								</div>
								<div class="col col-4">
									<label class="checkbox"><input type="checkbox" class="check" ng-model="anthro" ng-checked="allsub" ng-changed="toggleCheck(anthro)"><i></i>Anthropology</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="art" ng-checked="allsub" ng-changed="toggleCheck(art)"><i></i>Art</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="bio" ng-checked="allsub" ng-changed="toggleCheck(bio)"><i></i>Biology</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="buad" ng-checked="allsub" ng-changed="toggleCheck(buad)"><i></i>Business Administration</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="chem"  ng-checked="allsub" ng-changed="toggleCheck(chem)"><i></i>Chemistry</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="cs"  ng-checked="allsub" ng-changed="toggleCheck(cs)"><i></i>Computer Science</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="edu" ng-checked="allsub" ng-changed="toggleCheck(edu)"><i></i>Education</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="engineering" ng-checked="allsub" ng-changed="toggleCheck(engineering)"><i></i>Engineering</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="english" ng-checked="allsub" ng-changed="toggleCheck(english)"><i></i>English</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="foreign" ng-checked="allsub" ng-changed="toggleCheck(foreign)"><i></i>Foreign Language</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="geography" ng-checked="allsub" ng-changed="toggleCheck(geography)"><i></i>Geography</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="hist" ng-checked="allsub" ng-changed="toggleCheck(hist)"><i></i>History</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="ir" ng-checked="allsub" ng-changed="toggleCheck(ir)"><i></i>International Relations</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="law" ng-checked="allsub" ng-changed="toggleCheck(law)"><i></i>Law</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="math" ng-checked="allsub" ng-changed="toggleCheck(math)"><i></i>Mathematics</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="med" ng-checked="allsub" ng-changed="toggleCheck(med)"><i></i>Medical</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="other" ng-checked="allsub" ng-changed="toggleCheck(other)"><i></i>Other</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="philosophy" ng-checked="allsub" ng-changed="toggleCheck(philosophy)"><i></i>Philosophy</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="physics" ng-checked="allsub" ng-changed="toggleCheck(physics)"><i></i>Physics</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="polisci" ng-checked="allsub" ng-changed="toggleCheck(polisci)"><i></i>Political Science</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="psych" ng-checked="allsub" ng-changed="toggleCheck(psych)"><i></i>Psychology</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="religion" ng-checked="allsub" ng-changed="toggleCheck(religion)"><i></i>Religion</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="sociology" ng-checked="allsub" ng-changed="toggleCheck(sociology)"><i></i>Sociology</label>
									<label class="checkbox"><input type="checkbox" class="check" ng-model="theatre" ng-checked="allsub" ng-changed="toggleCheck(theatre)"><i></i>Theatre</label>
								</div>
							</div>
						</section>
					
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	

<!-- //products -->
	    
{% endblock %}