{% extends "layout.html" %}

{% block content %}
 <!--start-content-->
<!--account-->
   <div>
   	<br />
	  <div class="container">
	  {% if logInError==True %}
      	<p><font color="#1399a0">The username or password you entered was incorrect.</font></p><br /><br />
      {% endif %}
	       <div class="row">
				<div class="col-md-6">
					<form method="post">
						<div class="account-top heading">
							<h3>REGISTERED CUSTOMERS</h3>
						</div>
						<div class="address">
							<span>Email Address</span>
							<input type="text" name="email" id="email" required>
						</div>
						<div class="address">
							<span>Password</span>
							<input type="password" name="password" id="password" required>
						</div>
						<br />
						<div class="address">
							<input type="submit" value="Login">
						</div>
					 </form>
					  </div>
					  <div class="col-md-2">
					  	</div>
					  <div class="col-md-4">
					  	<br /><h3>Not registered?</h3><br />
					  	<a href="/createaccount"><u>Create an account</u></a>
					  </div>
				 </div>
				<div class="clearfix"></div>
			</div>
	  </div>
<!-- checkout -->

{% endblock %}