{% extends "layout.html" %}

{% block content %}
 <!--start-content-->
<!--account-->
<div class="container">
    {% if passChanged == True %}
    <br /><p><font color="#1399a0">Your password has been changed.</font></p><br /><br />
    {% else %}
        {% if passFailed == True %}
        <br /><p><font color="#1399a0">There was a problem resetting your password.</font></p><br />
        {% endif %}
        
        {% if wrongPass == True %}
        <br /><p><font color="#1399a0">Incorrect password. You must enter your original password in order to reset it.</font></p><br />
        {% endif %}
     <div class="row">
        <div class="col-md-1"></div>
    	<div class="col-md-8">
	    	<div class="account-top heading">
			    <br /><h3>RESET PASSWORD</h3>
		    </div>
    	    <form method="post">
    	     <div class="address">
					<span>Enter your old password:</span>
					<input type="password" name="oldpassword" id="oldpassword" required>
				</div>
    	     <div class="address">
					<span>Enter your new password:</span>
					<input type="password" name="password1" id="password1" required>
				</div>
    	     <div class="address">
					<span>Re-enter your new password:</span>
					<input type="password" name="password2" id="password2" required>
				</div>
			<div class="address">
    	  	    <input type="submit" value="Reset Password">
    	  	</div>
    	  	</form>
    	  	<br /><br />
    	</div>
    </div>
    {% endif %}
</div>
<!-- checkout -->

{% endblock %}