{% extends "layout.html" %}

{% block content %}
 <!--start-content-->
<!--contact-->
   <div class="contact">
	  <div class="container">
	  	{% if loggedIn == False %}
    	<div class="row">
        	<div class="col-md-6">
          		<p>You must be logged in to sell books.</p>
        		<p><a href="/login"><u>Login</u></a></p><br /><br />
    			<p>Don't have an account?</p>
        		<p><a href="/createaccount"><u>Create an account</u></a></p><br /><br /><br />
        	</div>
    	</div>
		<br /><br />
	  	{% else %}
	  		{% if listingSuccess == True %}
	  		<p><font color="#1399a0">Your book has been listed.</font></p><br /><br />
	  		{% endif %}
	  		{% if listingFailure == True %}
	  		<p><font color="#1399a0">There was an error listing your book. Please try again. Make sure that you specify the subject.</font></p><br /><br />
	  		{% endif %}
	  		
			<h3 class="tittle con">Start Selling</h3>
				<div class="contact-form row">
					<div class="col-md-6">
				  	  <form role="form" method="post">
		  	        	<p class="comment-form-author form-group"><label>Title:</label>
			    	    	<input type="text" name="title" class="textbox form-control" required>
				    	</p>
			    	    <p class="comment-form-author form-group"><label>Author:</label>
			    	    	<input type="text" name = "author" class="textbox form-control" required>
				    	</p>
				    	<p class="comment-form-author form-group"><label>Description: (optional)</label>
				    	  <textarea name="description"></textarea>
				        </p>
				    </div>
				    	
				    <div class="col-md-6">
				        <p class="comment-form-author form-group"><label>ISBN:</label>
				     	   <input type="text" name="isbn" class="textbox form-control" required>
				        </p>
				        <p class="comment-form-author form-group"><label>Price:</label>
				     	   <input type="text" name="price" class="textbox form-control" required>
				        </p>
				        <p class="comment-form-author form-group"><label>Subject:</label>
						<select class="form-control" id="subject" name="subject" size="7">
							<option>Anthropology</option>
							<option>Art</option>
							<option>Biology</option>
							<option>Business Administration</option>
							<option>Chemistry</option>
							<option>Computer Science</option>
							<option>Education</option>
							<option>Engineering</option>
							<option>English</option>
							<option>Foreign Language</option>
							<option>Geography</option>
							<option>History</option>
							<option>International Relations</option>
							<option>Law</option>
							<option>Mathematics</option>
							<option>Medical</option>
							<option>Other</option>
							<option>Philosophy</option>
							<option>Physics</option>
							<option>Political Science</option>
							<option>Psychology</option>
							<option>Religion</option>
							<option>Sociology</option>
							<option>Theatre</option>
						</select></p>
				</div>
				</div>
				<div class="contact-form row">
					<div class="col-md-12">
						<p class="comment-form-author form-group"><label>Picture URL:</label>
				     	   <input type="text" name="url" class="textbox form-control">
				        </p>
					</div>
				</div>
				<input name="submit"  type="submit" id="submit" value="Submit">
					</form>
		        </div>
		        <div class="clearfix"></div>
		{% endif %}	
  </div>
 <!--//checkout-->
 {% endblock %}